<table>
  <thead>
    <tr>First Name</tr>
    <tr>Last Name</tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
     <tr>
      <td> <%= student.first_name %></td>
      <td> <%= student.last_name%></td>
    </tr>
    <% end %>
  </tbody>
</table>
